body {
    background-color:bisque;
}

#searchBox {
    position: absolute;
    right: 20px;
    top: 88px;
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: whitesmoke;
}

#suggestionsContainer {
    position: absolute;
    right: 20px;
    top: 128px;
    width: 325px;
    border: 1px solid #ccc;
    border-top: 0;
    background-color: #fff;
}

#suggestionsList {
    list-style: none;
    margin: 0;
    padding: 0;
}

#suggestionsList a {
    display: block;
    padding: 12px;
    padding-left: 70px;
    color: #333;
    text-decoration: none;
}

#suggestionsList a:hover {
    background-color: #eee;
}

#product{
    width: 23%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px;
    box-sizing: border-box;
}

#price{
    width: 10%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px;
    box-sizing: border-box;
}

.form-submit {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #45a049;
}


h2 {
    font-size: 20px;
    color: #fff;
}

/* UTILITIES */
a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: teal;
    color: #fff;

}

.nav-links a {
    color: #fff;
}

/* NAVBAR MENU */

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

* {
    margin:0;
    padding:0;
    font-family:Helvetica, Arial, sans-serif;
}

.container {
    padding: 20px 20px 60px;
}


