body {
    background-color:bisque;
}

h2 {
    font-size: 20px;
    color: #fff;
}

/* UTILITIES */
a {
    text-decoration: none;
}

/* NAVBAR STYLING STARTS */

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: teal;
    color: #fff;

}

.nav-links a {
    color: #fff;
}

@media (max-width: 600px) {
    form {
        width: 90%;
    }
}

/* NAVBAR MENU */

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    font-family:Helvetica, Arial, sans-serif;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    list-style: none;
    padding: 5px 14px;
    margin-bottom: 0;
    margin-left: 0;
}

.container {
    padding: 20px 20px 20px;
}

* {
    margin:0;
    padding:0;
}

form {
    width: 250px;
    margin: 10px; /* Change the margin value to reduce the space around the form */
    background-color: bisque;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 250px;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 250px;
    background-color: #4CAF50;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

li {
    list-style-type: circle;
    margin-bottom: 10px;
    margin-left: 20px;
}

span {
    font-weight: bold;
}

